<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Registrati - Cloud Storage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/css/auth.css">
    </head>
    <body>
        <div class="login-container">
            <h1 class="login-title">Registrati</h1>

            <form id="register-form">
                <div class="login-field">
                    <label class="login-label" for="username">Username</label>
                    <input type="text" id="username" name="username" class="login-input" required>
                </div>

                <div class="login-field">
                    <label class="login-label" for="password">Password</label>
                    <input type="password" id="password" name="password" class="login-input" required>
                </div>

                <div class="login-field">
                    <label class="login-label" for="password2">Ripeti password</label>
                    <input type="password" id="password2" class="login-input" required>
                </div>

                <button type="submit" class="login-button">Invia</button>
            </form>
        </div>

        <script type="module" src="/assets/js/register.js"></script>
    </body>
</html>